In [19]:
def ciph(string):
    return ''.join([c[1] + c[0] for c in zip(string[::2], string[1::2])])

In [22]:
string = 'veremymoneetevtnohguihnkwoewowtnlaawsyebbaelothsraaeebtdgoteehirtslihlvayeuoawctihgnvoreemymitynugraidnaohdlysuonrxegtfiatdnoyruhtricdpiehcrehkcymormo'

In [23]:
ciph(string)

'everymomenteventhoughiknowwewontalwaysbeabletoshareabedtogetheristillhaveyouwatchingovermemytinyguardianholdsyournextgiftandyourthirdciphercheckmyroom'

In [ ]:
#music cipher so I can write it out in "bass clef" and have it convert overrrr

In [266]:
import pandas as pd
convert_df = pd.DataFrame(data={'treble':list('ABCDEFG'),'bass':list('CDEFGAB'),'num':[0, 1, 2, 3, 4, 5, 6]})
vals_df = pd.DataFrame(data={'W':list('ABCDEFG'),'H':list('HIJKLMN'), 'Q':list('OPQRSTU'), 'E':list('VWXYZ  ')})

In [267]:
vals_df

   E  H  Q  W
0  V  H  O  A
1  W  I  P  B
2  X  J  Q  C
3  Y  K  R  D
4  Z  L  S  E
5     M  T  F
6     N  U  G

In [264]:
convert_df

  bass  num treble
0    C    0      A
1    D    1      B
2    E    2      C
3    F    3      D
4    G    4      E
5    A    5      F
6    B    6      G

In [281]:
vals_df['E'][3]

'Y'

In [103]:
def solve_music(string):
    final_msg = ''
    for x in string.upper().split():
        note_len = x[0]
        treb_val = convert_df[convert_df['bass'] == x[1]]['num'].values[0]
        final_msg += vals_df.loc[treb_val,note_len]
    return final_msg

'ef qc qb qf wc wf ec wg hb qa qb qf wg qa qc wf wc ef wc hb wf wd we wc hb hb qc qa ed wc hd qa qa qc'

In [187]:
part1 = 'ef qc qb wc qf wg wd qf hd hg hg hd wc hb qa'
part2 = 'hd hc qc qd wg ef qc qb hf hb qc ed qa hc wc qa'
part3 = 'wg ec wg qf ef wf wc ef hd qg qd wg hb wf ed hd qa hc ef qc qb'
part4 = 'hd qg wc hb qc qa hc wg qf hb qc qa wg hd hb qc qb qf qg ef ha qd hc qc hb ef'
part5 = 'ef qc qb wc qf wg wb hg ha qc qg qa wb qa qa hb wg wg hb wf qc wa'
part6_a = 'e q q q w w e w h q q q w q q w w e w h w w w w h h q q e w h q q q'
part6_b = 'f c b f c f c g b a b f g a c f c f c b f d e c b b c a d c d a a c'
part7_a = 'q w w e q q q w w w w'
part7_b = 'g g g f c b f a c e g'

In [ ]:
def merge_em(lista, listb):
    return ' '.join([''.join(x) for x in zip(lista.split(' '), listb.split(' '))])

In [202]:
print solve_music(part1), solve_music(part2)

YOUAREBRILLIANT IHOPEYOUKNOWTHAT

In [203]:
print solve_music(part3), solve_music(part4)

EVERYDAYISPENDWITHYOU ISANOTHERNOTEINOURSYMPHONY

In [204]:
print solve_music(part5)

YOUAREGLMOSTGTTNEENDOF

In [205]:
print solve_music(merge_em(part6_a, part6_b))

YOURADVENTURETODAYANDBCANNOTWAITTO

In [206]:
print solve_music(merge_em(part7_a, part7_b))

SEEYOURFACE

In [207]:
part8_a = 'e q q q w h h w h w h q h w q h q'
part8_b = 'f c b f a d b c g e d d c g f d g'

print solve_music(merge_em(part8_a, part8_b))

YOURFINALCIPHERIS

In [208]:
part9_a = 'q q q w h w h w h w h q q q w e q q h w e w e q q h w w q q w'
part9_b = 'a c b b c c b f d c a g b f g f c b c c c g d c f f g f b d c'
print solve_music(merge_em(part9_a, part9_b))

TOUGHANDIAMSUREYOUHAVEWORKEDUPA

In [211]:
part10_a = 'q e w w q w h q w w w e e q q e h h h w h h w q h w w h h w h'
part10_b = 'g d g c a c g f g c f f f c b d d g g a d b f a c g a d b c a'
print solve_music(merge_em(part10_a, part10_b))

SWEATALREADYYOUWILLFINDTHEFINAM

In [212]:
part11_a = 'w h q h w q w h w w w h w h w q w w h q q h w q h h e q q q'
part11_b = 'e d d c g f c b f c e c c b g c a e g c a c g g d b f c b f'
print solve_music(merge_em(part11_a, part11_b))

CIPHERANDACHANEOFCLOTHESINYOUR

In [215]:
part12_a = 'q h h q q w q w e w q h h q e w e q q'
part12_b = 'g c d f a f f c d g f d g c c g f c b'
print solve_music(merge_em(part12_a, part12_b))

SHIRTDRAWERILOVEYOU

In [297]:
chr(65)

'A'

In [298]:
x = [5, 17, 15, 14]

In [302]:
from string import ascii_lowercase
LETTERS = {index: letter for index, letter in enumerate(ascii_lowercase, start=0)}

In [253]:
nums = [5, 17, 15, 14, 20, 8, 21, 23]

In [262]:
def caesar(num):
    return LETTERS[((num-1)+6)%26]

In [263]:
[caesar(x) for x in nums]

k
w
u
t
z
n
a
c

[None, None, None, None, None, None, None, None]

In [ ]:
25-1 = 24 + 6 = 30 % 26

In [261]:
for n in range(0,25):
    print ''.join([LETTERS[((x-1+n)%26)] for x in nums])

eqonthuw
frpouivx
gsqpvjwy
htrqwkxz
iusrxlya
jvtsymzb
kwutznac
lxvuaobd
mywvbpce
nzxwcqdf
oayxdreg
pbzyesfh
qcazftgi
rdbaguhj
secbhvik
tfdciwjl
ugedjxkm
vhfekyln
wigflzmo
xjhgmanp
ykihnboq
zljiocpr
amkjpdqs
bnlkqert
comlrfsu

In [ ]:
8 - t
9 -
10 s
11 r
12 q
13 p
14 o